$mainWidth: 500px
$sideWidth: 200px

@mixin box-sizing($x)
    -webkit-box-sizing: $x
    -moz-box-sizing: $x
    -ms-box-sizing: $x
    box-sizing: $x
@mixin transition($x)
    -webkit-transition: $x
    -moz-transition: $x
    -ms-transition: $x
    transition: $x
@mixin column-count($x)
    -webkit-column-count: $x
    -moz-column-count: $x
    column-count: $x

@mixin block()
    background: #fff
    border: 1px solid #aaa

@mixin main-block()
    @include block()
    width: $mainWidth
    margin: 1em auto
    padding: 0


*
    @include box-sizing(border-box)

.hidden
    display: none
.max
    width: 100%

body
    background: #f0f0f0

a
    &:link
        color: blue
    &:visited
        color: darken(blue, 30%)
    &:hover
        color: red
    &:active
        color: lighten(red, 30%)

.site-header
    @include main-block()
    h1
        width: 100%
        text-align: center
        font-family: Ubuntu, Calibri, sans

.site-search
    @include main-block()
    form
        margin: 0
        padding: 0
    fieldset
        border: none
        margin: 0
        padding: 10px
        display: inline-block
        &.search
            width: 100%
    input
        width: 100%
        height: 30px
        line-height: 30px
        vertical-align: middle

.wrapper
    position: relative
    width: $mainWidth
    margin: 0 auto
    padding: 0

.sidebar
    position: absolute
    width: $sideWidth
    top: 0
    left: -$sideWidth - 20px
    @include block()
    &.fixed
        position: fixed
        top: 0

.category-list
    list-style: none
    margin: 0
    padding: 0
    > li
        margin: 0
        a
            display: block
            padding: 5px 10px
            &:hover
                background: rgba(0, 0, 0, .1)
        &.active
            a
                background: rgba(144, 238, 144, .5)

.recipe-list
    @include main-block()
    p
        margin: 0
    .categories
        display: none

.back-link
    @include main-block()
    a
        display: block
        padding: 10px
        text-align: center

.recipe
    @include main-block()
    font: 16px serif

    h1
        border-left: 5px solid lightgreen
        margin: 0 0 10px
        padding: 10px 10px 10px 20px
        font: 30px sans-serif
    h2
        border-left: 3px solid lightgreen
        margin: 0 0 7px
        padding: 5px 10px 5px 20px
        font: 20px sans-serif
    ul
        list-style: circle
        margin: 5px 10px 10px
        line-height: 1.4em
    p
        margin: 5px 10px 10px


@media print
    a:link, a:visited, a:hover, a:active
        color: black
        text-decoration: none

    .site-header, .site-search, .sidebar, .back-link
        display: none
    .wrapper, .recipe-list, .recipe
        margin: 0
        padding: 0
        border: none
        width: 100%
    .recipe-list
        @include column-count(2)
    .recipe
        h1, h2, h3, h4, h5, h6
            border: none
